<h1>Welcome to routing Example</h1>
<ul class="nav">
    <li class="nav-item">
         <a class="nav-lisk" routerLink="register">Register</a>
    </li>        
    <li class="nav-item">
         <a class="nav-lisk" routerLink="switch">StructuralDirective</a>
    </li>  
    <li class="nav-item">
        <a class="nav-lisk" routerLink="pipes">Pipes Demo</a>
    </li> 
    <li class="nav-item">
        <a class="nav-lisk" routerLink="list">List</a>
    </li>                         
                        
</ul>
<router-outlet></router-outlet>
